EXPO_PUBLIC_GEMINI_API_KEY="ISI_API_KEY_GEMINI_ANDA_DI_SINI"
EXPO_PUBLIC_LMNT_API_KEY="ISI_API_KEY_LMNT_ANDA_DI_SINI"

# Voice Models (LMNT)
EXPO_PUBLIC_VOICE_BOY="daniel"
EXPO_PUBLIC_VOICE_GIRL="lily"
EXPO_PUBLIC_VOICE_DAD="james"
EXPO_PUBLIC_VOICE_MOM="sarah"
